body{
    font-size: 20px;
}

.side-nav{
    z-index: 5000;
}

.nav-extended{
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 300;
}

#menu-wrapper{
    cursor: pointer;
}

#menu-wrapper #hamburger-menu {
    position: absolute;
    width: 25px;
    height: 20px;
    margin: 15px;
    top 5px;
    right: 5px;
}

#menu-wrapper #hamburger-menu span {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    left: 0;
    display: block;
    width: 100%;
    height: 2px;
    border-radius: 10px;
    color: black;
    background-color: white;
    position: absolute;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .4s ease-in-out;
    transition: .4s ease-in-out;
}

#menu-wrapper #hamburger-menu span:nth-child(1) {
    top: 0;
}
#menu-wrapper #hamburger-menu span:nth-child(2) {
    top: 9px;
}
#menu-wrapper #hamburger-menu span:nth-child(3) {
    top: 18px;
}
#menu-wrapper #hamburger-menu.open span:nth-child(1) {
    top: 9px;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
}
#menu-wrapper #hamburger-menu.open span:nth-child(2) {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    left: -60px;
}
#menu-wrapper #hamburger-menu.open span:nth-child(3) {
    top: 9px;
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

.d_n{
    display: none;
}

.name{
    font-size: 20px !important;
    font-weight: bold !important;
}

#immagine {
  display: block;
    border-radius: 5px;
  position: relative;
  float: left;
  overflow: hidden;
  margin: 0 20px 20px 0;
    transition: all 0.6s ease;
}
figcaption {
  position: absolute;
  background: indianred;
  color: #404040;
  padding: 10px 20px;
  opacity: 0;
  -webkit-transition: all 0.6s ease;
  -moz-transition:    all 0.6s ease;
  -o-transition:      all 0.6s ease;
}
#immagine:hover figcaption {
    opacity: 1;
}

#immagine:hover{
    transform: translateY(-7px);
    box-shadow: 0px 12px 5px #dedede;
}

#immagine:before {
  position: absolute;
  font-weight: 800;
  background: black;
  background: rgba(255,255,255,0.75);
  text-shadow: 0 0 5px white;
  color: black;
  width: 24px;
  height: 24px;
  -webkit-border-radius: 12px;
  -moz-border-radius:    12px;
  border-radius:         12px;
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  -moz-transition: all 0.6s ease;
  opacity: 0.75;
}
figure:hover:before {
  opacity: 0;
}

.cap-left:before {  bottom: 10px; left: 10px; }
.cap-left figcaption { bottom: 0; left: -30%; }
.cap-left:hover figcaption { left: 0; }

.cap-right:before { bottom: 10px; right: 10px; }
.cap-right figcaption { bottom: 0; right: -30%; }
.cap-right:hover figcaption { right: 0; }

.cap-top:before { top: 10px; left: 10px; }
.cap-top figcaption { left: 0; top: -30%; }
.cap-top:hover figcaption { top: 0; }

.cap-bot:before { bottom: 10px; left: 10px; }
.cap-bot figcaption { left: 0; bottom: -30%;}
.cap-bot:hover figcaption { bottom: 0; }

.link_img{
    width: 20%;
    -webkit-transition: all 0.3s ease-in;
}

.link_img:hover{
    transform: rotate(360deg);
    cursor: pointer;
}

.cont_listg{
    background-color: dimgrey;
    border-radius: 5px;
    padding: 5px;
    border-color: #ee6e73;
    border-style: solid;
    border-width: 2px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.cont_list > ul > li{
    background-color: #ee6e73;
    color: white;
    border-color: white;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    font-size: 18px;
    padding: 3px;
    transition: all 0.3s ease-in;
}

.cont_list > ul > li:hover{
    transform: translateX(5px);
    background-color: white;
    color: black;
    border-color: #ee6e73;
    border-style: solid;
    border-width: 2px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  line-height: inherit;
}


img,
svg {
  max-width: 100%;
  height: auto;
}

.gallery {
  position: relative;
  margin: 1.5em 2em;
}

.gallery_thumbnails {
  text-align: center;
  overflow: auto;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}


.gallery_thumb {
  position: relative;
  float: left;
  margin-right: 1em;
}

.gallery_thumb img {
  margin-bottom: 1em;
  cursor: pointer;
    box-shadow: 5px 5px 5px #dedede;
}

.gallery_featured {
    float: left;
    /* max-width: 600px; */
    position: absolute;
    top: 0px;
    right: 0px;
}


@media (min-width: 760px) {
    .gallery,
    .gallery_thumbnails {}

    .gallery_thumbnails {
        width: 6em;
        padding-right: 2em;
        width: 30%;
    }

    .gallery_thumb {
        float: none;
        /*margin-right: 0;*/
    }
    .gallery_featured {
        position: absolute;
        top: 0px;
        right: 0px;
    }
}

.fixedImage{
    position: fixed;
    top: 20%;
    right: 5%;
    width: 20% !important;
}